html,body{
  height: 100%;
}
body{
margin: 0;
background : radial-gradient(circle at center, #525252,#000000) ;
}
.wrapper-header{
  background:rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(31,38,135,0.37);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius:10px ;
  margin: 10;
  width: 98%;
  height: 220px;
  display: flex;
  flex-direction: column;
  
}
.icon-image {
  width:250px;
  height: 200px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  
}
.image-wrapper img{
  width:250px;
  height: 200px;
  border-radius: 12px;
  transition: 0.35s ease;
}
.image-wrapper img:hover{
  transform: scale(1.18);
}
.name-user{
  margin-left: 290px;
  margin-top: -200px;
  font-size: 100px;
  text-transform: uppercase;
  font-family: "Baskerville";
  text-align: start;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right,
  #fc72ff,#8f68ff,#487bff,#8f68ff,#fc72ff);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}
@keyframes animate-gradient{
  to{
    background-position: 200%;
  }
}
.space{
  margin-top: -100px;
  margin-left: 290px;
  width: 740px;

}
.frase{
margin-left:290px ;
margin-top: 0px;
font-size: 31px;
color: white;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: start;
background:  radial-gradient(circle at center, #fdfdfd,#9e9e9e);
background-size: 200%;
background-clip: text;
-webkit-background-clip:text;
-webkit-text-fill-color: transparent;
animation: animate-gradient 2.5s linear infinite;
}
.title{
margin-left:30px ;
margin-top: 60px;
font-size: 40px;
color: white;
font-family:Verdana, Geneva, Tahoma, sans-serif;
text-align: start;
background:  radial-gradient(circle at center, #fdfdfd,#9e9e9e);
background-size: 200%;
background-clip: text;
-webkit-background-clip:text;
-webkit-text-fill-color: transparent;
animation: animate-gradient 2.5s linear infinite;
}
.separador{
  width: 97% ;
  margin-top: -30px;
  margin-left: 25px;
}
.wrapper-card{
  padding: 5px 10%;
}
#card-area{
  padding: 50px 0;
}
.box-area{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 55px;
  margin-top:50px;
}
.box{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);

}
.box img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transform-origin: transform 0.5s;
}
.overlay{
  height: 0;
  width:100%;
  background: linear-gradient(transparent,#1c1c1c 58%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 5px;
  text-align: start;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  
  transition: height 0.5s;
  
}
.overlay h3{
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 65%;
  font-family: bebas neue;
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
}

.box:hover img{
  transform: scale(1.2);
}
.box:hover .overlay{
  height: 100%;
}

