html,body{
  height: 100%;
}
body{
margin: 0;
background : radial-gradient(circle at center, #525252,#000000) ;
}
.wrapper-header{
  background:rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(31,38,135,0.37);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius:10px ;
  margin: 10;
  width: 98%;
  height: 220px;
  
}
.icon-image {
  width:250px;
  height: 200px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  
}
.image-wrapper img{
  width:250px;
  height: 200px;
  border-radius: 12px;
  transition: 0.35s ease;
}
.image-wrapper img:hover{
  transform: scale(1.18);
}
.name-user{
  margin-left: 290px;
  margin-top: -200px;
  font-size: 100px;
  text-transform: uppercase;
  font-family: "Baskerville";
  text-align: center;
  background: linear-gradient(to right,
  #fc72ff,#8f68ff,#487bff,#8f68ff,#fc72ff);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}
@keyframes animate-gradient{
  to{
    background-position: 200%;
  }
}
.frase{
margin-left:290px ;
margin-top: -50px;
color: white;
font-family: "Baskerville";
}