body{
  background-color:whitesmoke;
}
.contenedor{
  width: 280px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 30px 30px 30px 30px;
  border-radius: 30px;
  margin-left: 220px;
  margin-top: 220px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
}


.title{
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2e2e2e;
  font-weight: 700;
  margin: 15px 0 30px 0;
}
.subtitle{
  color: #2e2e2e;
  padding-left: 10px;
  font-size:  1.2em;
  font-weight:100;
}
.imput{
  width: 100%;
  height: 40px;
  background-color: rgb(229, 230, 231);
  border: none;
  border-bottom: 2px solid rgb(173, 173, 173);
  border-radius: 30px;
  margin: 10px 0;
  color: black;
  font-size: .8em;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 10px;
  margin-top: -10px;
}
.btn{
  position: relative;
  
  width: 95%;
  border: 2px solid #8000ff;
  background-color: #8000ff;
  height: 40px;
  color: white;
  font-size: .8em;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
}
.btn::after{
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.253);
  height: 100%;
  width: 150px;
  top: 0;
  left: -200px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  filter: blur(10px);
  transition-duration: .5s;
}







